{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! <style>
  h1 { color: black; }
</style> }}

{{! <section class='p-5 box' id='box'>
  <h1 class='button'>USB хаб Type C 12 в 1 HDMI</h1>
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI</h2>

  <h1>USB хаб Type C 12 в 1 HDMI</h1>
  <button
    type='button'
    class='button'
    id='button'
  >Купити</button>

  <p class='user'>Link</p>

</section>

<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>

  <p class='user'>Link</p>

</footer>

<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>

  <p class='user'>
    <em class='user'>Test EM</em>
  </p>

  <div>
    <div>
      <em class='user'>Text EMEM</em>
    </div>
  </div>

</footer>

<hr />

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>
  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>
  <strong>dssgfd</strong>
  <em>asdfhgf</em>
  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>
  <strong>dssgfd</strong>
  <em>asdfhgf</em>
  <div>
    <p class='user'>Link</p>
  </div>

</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI </h1>
  <strong>dssgfd</strong>
  <em>asdfhgf</em>
  <i>
    <p class='user'>Link</p>
  </i>

</section> }}

{{! <div class='card m-5 p-5 card-dark'>
  <ul>
    <div class='item'>First</div>
    <div class='item'>First</div>
    <p class='item'>Second</p>
    <article class='item'>last</article>
    <p></p>
    <strong class='item'>strong</strong>
    <article class='item'>last</article>
    <div class='item'>First</div>
    <article class='item'>last</article>
  </ul>
</div> }}

{{! 
<div class='card m-5 p-5 card-dark'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />
</div>

<div class='card m-5 p-5 card-dark'>
  <img
    alt='image small card 100px'
    src='https://picsum.photos/200/300'
  />

  <a
    href='https://picsum.photos/200/300'
    rel='external dfgert uytjg ertds'
  >Link</a>
  <br />
  <button class='btn'>Click me</button>
  <br />
  <a
    class='text-center sadfbtnfds dsgggggghf btn'
    href='https://picsum.photos/200/300'
  >Click me</a>
</div>

<div class='card m-5 p-5 card-dark'>
  <p class='big-text'>Second srggfdz ergfdertyjg koihkj
    fdsasdfgb eder rgh esgjgfd</p>
</div>

<div class='card m-5 p-5 card-dark'>
  <input class='input-dark p-4' placeholder='Type here' />
</div> }}

<div lang='fr' class='card m-5 p-5 card-dark'>
  <a class='link' href='https://www.google.com'>Click me</a>
</div>

<div lang='en' id='test' class='card m-5 p-5 card-dark'>
  <input />
  <span>Hello world!</span>
</div>

<div class='m-5 p-5 card-dark'>
  <button>Test button</button>
  <button disabled>Test button</button>
</div>

<div class='m-5 p-5 card-dark'>
  <input class='inp' readonly />

  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>
</div>

<div class='m-5 p-5 card-dark'>
  <input
    type='email'
    required
    class='valid'
    placeholder='text'
  />
  <span>Test text</span>
</div>

<div class='m-5 p-5 card-dark'>
  <input type='email' class='valid' />

  <div class='mt-3'>
    <input
      type='number'
      min='10'
      max='200'
      required
      class='number'
    />
  </div>

</div>