<html>

  <head>
    <title>
      Slack page
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

  </head>

  <body>

    <div class='page'>
      <section class='page_section'>
        <div class='page_content hero_section'>

          <div class='hero'>
            <div class='hero_content'>
              <span class='hero_label'>Slack Features</span>
              <h1 class='hero_title'>One platform for your
                team and your work</h1>
              <p class='hero_info double_line'>All the
                features of Slack work together so you can,
                too</p>
              <div class='hero_buttons'>
                <a
                  href='#'
                  class='button button_primary click'
                >Try for free</a>
                <a
                  href='#'
                  class='button button_secondary click'
                >See all features</a>
              </div>

              <img
                src='/img/hero.png'
                alt='Hero'
                class='hero_image'
              />

            </div>
          </div>

          <div class='brands'>
            <img
              src='/img/brands/airbnb.png'
              alt='airbnb'
              class='brands_image'
            />
            <img
              src='/img/brands/target.png'
              alt='target'
              class='brands_image'
            />
            <img
              src='/img/brands/uber.png'
              alt='uber'
              class='brands_image'
            />
            <img
              src='/img/brands/onemedical.png'
              alt='onemedical'
              class='brands_image'
            />
            <img
              src='/img/brands/newscorp.png'
              alt='newscorp'
              class='brands_image'
            />
            <img
              src='/img/brands/va.png'
              alt='va'
              class='brands_image'
            />
            <img
              src='/img/brands/intuit.png'
              alt='intuit'
              class='brands_image'
            />
            <img
              src='/img/brands/sonos.png'
              alt='sonos'
              class='brands_image'
            />
          </div>

        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <h2 class='features_title'>Work more easily with
            everyone
          </h2>
          <p class='features_description double_line'>Stay
            on the sme page and make decisions faster by
            bringing all of your work communications into
            one place.</p>

          <div class='features_grid_4'>
            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/connect.svg')"
              ></span>
              <strong class='feat_card_title'>Slack Connect</strong>
              <p class='double_line'>Collaborate with teams
                at other companies the same way you do with
                teams at your own</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/channels.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Channels</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/huddles.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Huddles</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/clips.svg')"
              ></span>
              <strong class='feat_card_title'>Clips</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/canvas.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Canvas</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/messaging.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Messaging</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature/accessibility.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Accessibility</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>
          </div>

        </div>
      </section>

      {{! -----hometask----- }}

      <section class='page_section page_section_light'>
        <div class='page_content features_section_2'>
          <div class='features_section_text_block'>
            <h2 class='features_title'>What you need, when
              you need it
            </h2>
            <p
              class='features_description double_line'
            >Spend less time shuffling tabs with a
              comprehensive message archive and all your
              work tools at your fingertips.</p>
          </div>

          <div class='features_grid_3'>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature2/apps.svg')"
              ></span>
              <strong class='feat_card_title'>Apps and
                Integrations</strong>
              <p class='double_line'>Streamline work by
                connecting Slack with other services like
                Google Drive, Office 365 and over 2,200
                more.</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature2/workflow.svg')"
              ></span>
              <strong class='feat_card_title'>Workflow
                Builder</strong>
              <p class='double_line'>Automate routine
                actions and communication, so you can get
                back to the kind of work only humans can do.</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature2/search.svg')"
              ></span>
              <strong
                class='feat_card_title'
              >Search</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style="background-image: url('/svg/feature2/sharing.svg')"
              ></span>
              <strong class='feat_card_title'>File sharing</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

          </div>

        </div>
      </section>

      <section class='page_section'>
        <div class='deliveroo'>

          <div class='deliveroo_img'>
            <img src='/img/deliveroo.png' alt='deliveroo' />
          </div>

          <div class='deliveroo_info'>
            <p class='deliveroo_description'>
              “The thing that keeps us connected the most is
              Slack. It’s a very immediate and
              straightforward method of communication, and
              really the only channel that people prefer and
              enjoy using.”
            </p>
            <img
              src='/img/deliveroo-logo.png'
              alt='deliveroo-logo'
              class='deliveroo_logo'
            />
            <div class='deliveroo_sign'>
              Will Sprunt, CIO, Deliveroo
            </div>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content explore_section'>

          <h2 class='explore_title'>Explore more about
            working in Slack
          </h2>

          <div class='explore_grid'>

            <div class='explore_card'>

              <div class='explore_card_body'>
                <img
                  src='/img/tutorials.jpg'
                  alt='tutorials'
                  class='explore_card_img'
                />
                <strong class='explore_card_title'>Slack
                  Tutorials</strong>
                <p class='explore_card_description'>Slack
                  101</p>
              </div>

              <div class='explore_card_footer'>
                <a href='#' class='explore_card_link'>LEARN
                  MORE</a>
                <span
                  href='#'
                  class='icon icon_arrow click feat_link'
                ></span>
              </div>
            </div>

            <div class='explore_card'>

              <div class='explore_card_body'>
                <img
                  src='/img/slack-vs-email.png'
                  alt='slack-vs-email'
                  class='explore_card_img'
                />
                <strong class='explore_card_title'>Slack vs.
                  Email</strong>
                <p class='explore_card_description'>An
                  easier, more organized way to work</p>
              </div>

              <div class='explore_card_footer'>
                <a href='#' class='explore_card_link'>LEARN
                  MORE</a>
                <span
                  href='#'
                  class='icon icon_arrow click feat_link'
                ></span>
              </div>
            </div>

            <div class='explore_card'>

              <div class='explore_card_body'>
                <img
                  src='/img/customer.png'
                  alt='customer'
                  class='explore_card_img'
                />
                <strong class='explore_card_title'>Customer
                  Stories</strong>
                <p class='explore_card_description'>How
                  Fastly uses Slack Connect to wow
                  enterprise customers</p>
              </div>

              <div class='explore_card_footer'>
                <a href='#' class='explore_card_link'>LEARN
                  MORE</a>
                <span
                  href='#'
                  class='icon icon_arrow click feat_link'
                ></span>
              </div>
            </div>

          </div>

        </div>
      </section>

    </div>

  </body>

</html>