<div class='footer'>

  <div class='footer_pages_container'>
    {{#each footer.pages}}
      <a href='{{name}}' class='footer_pages'>{{name}}</a>
    {{/each}}
  </div>

  <div class='footer_copyright'>{{footer.copyright}}</div>

</div>